* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(105, 124, 144);
    background-image: url(/milad-fakurian-E8Ufcyxz514-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer {
    height: 30%;
    width: 60%;
    /* background-color: white; */
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .4);
    backdrop-filter: blur(40px  );
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer h1 {
    font-size: 8vw;
    margin: 0 1vw;
    color: #fff;
}